wheel
nbresult
colorama
ipdb
ipykernel
yapf
matplotlib
pygeohash
pytest
seaborn
numpy==1.23.5
pandas==1.5.3
scipy==1.10.0
scikit-learn==1.2.1
google-auth
db-dtypes
pyarrow


# prevent bq 3+ db-dtypes package error when running training from bq
ipython

python-dotenv
prefect==2.8.1
psycopg2-binary

# API
fastapi
pytz
uvicorn
# tests
httpx
pytest-asyncio

# jupiter notebook
notebook
ipython
torch
ipywidgets


# Dependancies for sheethelper
gspread
transformers
openai
wordcloud
streamlit==1.32.0
sentencepiece
textblob
nltk
requests
black
skimpy
streamlit-shadcn-ui
cronitor
loguru
schedule
wordcloud
requests

